$new-padding: 2%;
$text-alignment: center;
$new-color: red;
body{
    background-color: #111;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
h1{
    color: bisque;
    font-size: 2.5rem;
    text-align: $text-alignment;
}
.para1{
    color: goldenrod;
    padding: $new-padding;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.para2{
    color: $new-color;
    padding: 2%;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.para3{
    color: goldenrod;
    padding: 2%;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.para4{
    color: goldenrod;
    padding: 2%;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
